.btn-verifi:hover  {
    background-color: $gray-400;
}
.admin-table tbody tr:hover{
   background-color: $light;
}
.profile-img {
    width: 141px;
    object-fit: cover;
}
.expand-more.active{
    transform: rotate(180deg);
}
.page-item{
    width: 32px;
    height: 32px;
}
