.admin {
    width: 80%;
}
.addnew:hover {
    color: $success;
}
.admin-icons a span:hover  {
    font-weight: bold;
}
.btn-verifi:hover  {
    background-color: $gray-400;
}
.admin-table tbody tr:hover{
   background-color: $light;
}
.visibility-icon:hover,.edit-icon:hover {
    color: $success;
} 
.profile-img {
    width: 141px;
    height: 141px;
    object-fit: cover;
}
.expand-more.active{
    transform: rotate(180deg);
}
.page-item{
    width: 32px;
    height: 32px;
}
.page-link{
    &:hover {
        background-color: $success;
        color: $white;
    }
}
.arrow-left:hover {
    color: $white;
}