.admin {
    width: 80%;
}
.addnew:hover {
    color: $success;
}
.admin-icons a span:hover  {
    font-weight: bold;
}
.btn-verifi:hover  {
    background-color: $gray-400;
}
.admin-table tr:hover{
   background-color: $light;
} 
.profile-img {
    width: 141px;
    height: 141px;
    object-fit: cover;
}


